# All these files are avoided being sent to the Docker Host during the build process
# i.e. all these files are irrelevant in the build process

node_modules
dist
# .env # Temporarily do not ignore this. Find a better way to handle secrets. i.e. with vault eventually.
.env.example
